on post-fs-data
    chmod 0666 /batinfo/Batinfo.txt

service bat_bs /vendor/bin/bat_bs
    user root
    group root logd system 
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:batinfo:s0

on property:sys.boot.vibration=1
    start bat_bs

