
service vibcali_ship /vendor/bin/sh /vendor/bin/VibCali_ship.sh
    user root
    group root
    oneshot
    disabled

on property:ro.boot.ftm=1 && property:sys.boot_completed=1
    symlink /vendor/bin/VibratorTest.sh /data/data/VibratorTest
    symlink /vendor/bin/VibCali.sh /data/data/VibCali
    chown system system /mnt/vendor/persist/aw_cali.bin
    chmod 0664 /sys/class/leds/vibrator/cali
    chown system shell /sys/class/leds/vibrator/cali
    chown system system /mnt/vendor/persist/aw_rtp_cali.bin
    chmod 0664 /sys/class/leds/vibrator/osc_cali
    chown system shell /sys/class/leds/vibrator/osc_cali

on property:debug.vendor.vib.cali=0
    write /dev/kmsg "[haptic] end ship calibration"

on property:debug.vendor.vib.cali=1
    chown system system /mnt/vendor/persist/aw_cali.bin
    chmod 0664 /sys/class/leds/vibrator/cali
    chown system shell /sys/class/leds/vibrator/cali
    chown system system /mnt/vendor/persist/aw_rtp_cali.bin
    chmod 0664 /sys/class/leds/vibrator/osc_cali
    chown system shell /sys/class/leds/vibrator/osc_cali
    write /dev/kmsg "[haptic] start ship calibration"
    start vibcali_ship

on property:vendor.vib.cali.state=*
    setprop debug.vendor.vib.cali.state ${vendor.vib.cali.state}
    
